@font-face {
  font-family: "Vag";
  src: url("./fonts/subset-Vag.woff2") format("woff2"),
    url("./fonts/subset-Vag.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VagLight";
  src: url("./fonts/subset-VAGRoundedBT.woff2") format("woff2"),
    url("./fonts/subset-VAGRoundedBT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Vag";
}

.geneldiv1 {
  background-color: #d98833;
  display: flex;
}

.yazilardivi {
}

.yazilaricidiv {
  display: flex;
  flex-direction: column;
}

.logodivii img {
  display: inline-flex;
  width: 120px;
}
.yazilogodivi {
  display: flex;
  justify-content: space-between;
}

.subemenudivi {
  display: flex;
}

.subemenudivici {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.menulogodivi {
  display: flex;
  align-items: center;
}
.menuyazidivi {
  display: flex;
  align-items: center;
}

.dikeycizgi {
  display: flex;
  border-left: 3px solid #d7d7d7;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-right: 25px;
}

.mainContainter {
  display: flex;
}

.dropdown .btn {
  display: flex;
  justify-content: end;
  padding-left: 20px;
  padding-right: 10px;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-left: 50px;
  border: none;
}

.dropdown .btn img {
  margin-top: 8px;
}

.title-bkg {
  display: flex;
  margin: auto;
  background-color: #06514d;
  opacity: 75%;
  height: 140px;
}

.contentdivi {
  display: flex;
  flex-direction: column;
  background-color: #06514d;
}
.content-ust {
  margin: auto;
}

/*üst kisim css baslangic*/
.kurumsalBaslik {
  height: 215px;
  overflow: hidden;
  text-align: center;
  background-color: #06514d;
}

.kurumsalBaslik > .container {
  height: 100%;
  position: relative;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  --bs-gutter-x: 0 !important;
}
.anasayfaKurumsal {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: left;
  position: absolute;
  left: 15px;
  top: 30px;
}
.anasayfaKurumsal > li {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  position: relative;
}
.anasayfaKurumsal > li + li:before {
  vertical-align: top;
  color: white;
  content: "-";
  font-family: Vag !important;
}
.anasayfaKurumsal li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: Vag !important;
}
.baslik {
  margin: 0px;
  color: white;
  font-size: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: Vag !important;
}
.baslik h1 {
  list-style: normal;
  font-weight: 400;
}
.baslik:after {
  width: 100%;
  color: #06514d;
  font-size: 120px;
  line-height: 120px;
  font-family: VAGRounded BT;
  position: absolute;
  left: 0;
  top: -30px;
  z-index: -1;
  content: attr(data-headline);
  -webkit-text-stroke: 1px #05423f;
  -webkit-text-fill-color: #06514d;
}
/*üst ksiim css bitis*/

/* baslangic kahve kismi css*/

.form-control::-moz-placeholder {
  color: #f0efeb !important;
  opacity: 1;
  font-weight: lighter !important;
  font-size: 14.5px !important;
  font-family: Vag_ince !important;
}
.form-control::placeholder {
  background-color: #f0efeb;
  opacity: 1;
  font-weight: lighter !important;
  font-size: 14.5px !important;
  font-family: Vag_ince !important;
}
input {
  border: none !important;
  border-bottom: 1px solid #06514d !important;
}
input:focus {
  box-shadow: none !important;
}

/* input {
  border-bottom: 1px solid #06514d !important;
  border: 1px 1px 0px 1px solid  !important;
} */
/* input {
  border-bottom: 1px solid#000000 !important;
} */

.familyText {
  font-family: Vag, serif;
}
.littleFamilyText {
  font-family: Vag_ince, serif;
}
.coffeeTextColor {
  color: #06514d;
}
.online-btn {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: fixed;
  right: 0;
  top: 50%;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.responsive-img {
  max-width: 100%;
  max-height: 300px;
  vertical-align: bottom;
  border-style: none;
}
.carBackgroundColor {
  background: #d98833 !important;
}
.coffeeBackgroundColor {
  background: #f0efeb !important;
}
.imagePosition {
  padding-top: 15px;
  margin-top: -60px;
}
.yazi {
  font-family: Vag_ince, serif;
  color: #06514d !important;
  background-color: #f0efeb !important;
  padding: 60px 40px 40px 60px;
}
.yazi1 {
  font-size: 34px;
  background-color: #f0efeb;
  font-family: Vag, serif !important;
}
.yazi2 {
  color: #d98833 !important;
  background-color: #f0efeb;
  font-size: 20px;
  margin-bottom: 20px;
}
.form1 {
  border-bottom: 1px solid #06514d;
  color: #06514d;
}
#alanyazi {
  font-family: Vag_ince !important;
  padding: 10px 10px;
}
.button {
  background-color: #d98833 !important;

  border: none;

  color: white;

  padding: 10px 20px;

  text-decoration: none;

  display: inline-block;
  margin: 4px 2px;
  font-size: 20px;

  width: 120px;
  height: 50px;
  text-align: center !important;
  line-height: 20px;

  font-family: Vag, serif;

  cursor: pointer;
}
/* text-align: center !important;
  line-height: 20px; */
.form-control::-moz-placeholder {
  color: #f0efeb !important;
  opacity: 1;
  font-weight: lighter !important;
  font-size: 14.5px !important;
  font-family: Vag_ince !important;
}
.form-control::placeholder {
  background-color: #f0efeb;
  opacity: 1;
  font-weight: lighter !important;
  font-size: 14.5px !important;
  font-family: Vag_ince !important;
}
input {
  border: none !important;
  border-bottom: 1px solid #06514d !important;
}
input:focus {
  box-shadow: none !important;
}

/* input {
  border-bottom: 1px solid #06514d !important;
  border: 1px 1px 0px 1px solid  !important;
} */
/* input {
  border-bottom: 1px solid#000000 !important;
} */

.form-underline form {
  border-bottom: 1px solid #f0efeb;
}
.carousel-item #image {
  width: 350px !important;
  height: 350px !important;
}
.form-controller {
  margin: 0 auto;
}
.section_bottom {
  max-width: 1466px;
  min-height: 391px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  background-image: url("bottom.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}
#myCarousel {
  background-color: #f0efeb !important;
}

/* bitis kahve kismi css*/
