@font-face {
  font-family: Vagkalin;
  src: url(./fonts/VAGRoundedBT.ttf);
}
@font-face {
  font-family: Vagince;
  src: url(./fonts/Vag.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vag, serif;
}

.arkaplan1 {
  background-image: url(https://www.kahvediyari.com.tr/storage/images/concepts/yaninda-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.arkaplan1:hover {
  background-size: 120%;
  -webkit-transition: all 0.9s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: transform;
}

.arkaplan2 {
  background-image: url(https://www.kahvediyari.com.tr/storage/images/concepts/kafe-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.arkaplan2:hover {
  background-size: 120%;
  -webkit-transition: all 0.9s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: transform;
}

.arkaplan3 {
  background-image: url(https://www.kahvediyari.com.tr/storage/images/concepts/kiosk-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.arkaplan3:hover {
  background-size: 120%;
  -webkit-transition: all 0.9s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: transform;
}

.product-holder {
  position: relative;
  display: block;
}

.plus-image {
  left: 38%;
  top: 15%;
  margin-top: -25px;
  margin-left: -25px;
  position: absolute;
}

.kurumsalBaslik {
  height: 215px;
  overflow: hidden;
  text-align: center;
  background-color: #06514d;
}

.kurumsalBaslik > .container1 {
  height: 100%;
  position: relative;
}
.container1 {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
  --bs-gutter-x: 0 !important;
}
.anasayfaKurumsal {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: left;
  position: absolute;
  left: 15px;
  top: 30px;
}
.anasayfaKurumsal > li {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  position: relative;
}
.anasayfaKurumsal > li + li:before {
  vertical-align: top;
  color: white;
  content: "-";
  font-family: Vagince !important;
}
.anasayfaKurumsal li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: Vagince !important;
}
.baslik {
  margin: 0px;
  color: white;
  font-size: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: Vagince !important;
}

.baslik h1 {
  list-style: normal;
  font-weight: 400;
}
.baslik:after {
  width: 100%;
  color: #06514d;
  font-size: 120px;
  line-height: 120px;
  font-family: Vagkalin;
  position: absolute;
  left: 0;
  top: -30px;
  z-index: -1;
  content: attr(data-headline);
  -webkit-text-stroke: 1px #05423f;
  -webkit-text-fill-color: #06514d;
}
.uzunyazihcu {
  padding-bottom: 30px;
  padding-top: 70px;
}
.uzunyazihcu .yazilarhcu {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  color: #06514d;
  font-family: Vagkalin !important;
  font-weight: 400;
}

.carBackgroundColor {
  background: #d98833 !important;
}
.coffeeBackgroundColor {
  background: #f0efeb !important;
}
.imagePosition {
  padding-top: 15px;
  margin-top: -60px;
}
.yazi {
  font-family: Vag_ince, serif;
  color: #06514d !important;
  background-color: #f0efeb !important;
  padding: 60px 40px 40px 60px;
}
.yazi1 {
  font-size: 34px;
  background-color: #f0efeb;
  font-family: Vag, serif !important;
}
.yazi2 {
  color: #d98833 !important;
  background-color: #f0efeb;
  font-size: 20px;
  margin-bottom: 20px;
}
.form1 {
  border-bottom: 1px solid #06514d;
  color: #06514d;
}
#alanyazi {
  font-family: Vag_ince !important;
  padding: 10px 10px;
}
.button {
  background-color: #d98833 !important;

  border: none;

  color: white;

  padding: 10px 20px;

  text-decoration: none;

  display: inline-block;
  margin: 4px 2px;
  font-size: 20px;

  width: 120px;
  height: 50px;
  text-align: center !important;
  line-height: 20px;

  font-family: Vag, serif;

  cursor: pointer;
}
/* text-align: center !important;
  line-height: 20px; */
.form-control::-moz-placeholder {
  color: #f0efeb !important;
  opacity: 1;
  font-weight: lighter !important;
  font-size: 14.5px !important;
  font-family: Vag_ince !important;
}
.form-control::placeholder {
  background-color: #f0efeb;
  opacity: 1;
  font-weight: lighter !important;
  font-size: 14.5px !important;
  font-family: Vag_ince !important;
}
input {
  border: none !important;
  border-bottom: 1px solid #06514d !important;
}
input:focus {
  box-shadow: none !important;
}

/* input {
  border-bottom: 1px solid #06514d !important;
  border: 1px 1px 0px 1px solid  !important;
} */
/* input {
  border-bottom: 1px solid#000000 !important;
} */

.form-underline form {
  border-bottom: 1px solid #f0efeb;
}
.carousel-item #image {
  width: 350px !important;
  height: 350px !important;
}
.form-controller {
  margin: 0 auto;
}
.section_bottom {
  max-width: 1466px;
  min-height: 391px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  background-image: url("bottom.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}
#myCarousel {
  background-color: #f0efeb !important;
}
.navbarr {
  background-color: #ffffff;
  background-repeat: no-repeat;
  height: 145px;
  padding: 0 40px;
}

.navbarr ul {
  list-style-type: none;
  padding-top: 20px;
}

.menü-yazi {
  font-weight: 500 !important;
  font-size: 30px !important;
  font-family: Vag !important;
  /* margin-right: 20px; */
}

.hamburger {
  font-size: 30px;
  color: #06514d;
}

.navbarr a {
  text-decoration: none;
  color: #06514d !important;
  font-size: 18px;
  font-weight: 100 !important;
  font-family: VagLight;
}

.logo_alan {
  flex-basis: 40%;
}

.navbar-sol {
  flex-basis: 70%;
}

.navbar-sag {
  width: 40%;
  padding-right: 20px;
}

.footerr {
  background-color: #00524d;
  background-repeat: no-repeat;
  height: 700px;
  padding: 0 40px;
}
.footerr ul {
  list-style-type: none;
  padding-top: 20px;
  padding-left: 0;
}

.footerr li a {
  color: white !important;
}

.footerr a {
  text-decoration: none;
  color: #06514d;
  font-size: 18px;
  font-weight: 100;
  font-family: VagLight !important;
}

.footerr h3 {
  font-family: Vag !important;
  font-weight: 900;
  color: white;
}

.sosyalmedya {
  width: 57px;
  height: 57px;
  display: inline-block;
  overflow: hidden;
  color: white;
  font-size: 27px;
  line-height: 55px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 50%;
}

.adres {
  flex-direction: row;
  justify-content: start !important;
  align-items: end !important;
  color: white;
  font-family: VagLight;
  font-size: 18px;
}

.numara {
  justify-content: left;
  font-family: Vag !important;
  font-weight: 900 !important;
  color: white !important;
  font-family: VagLight !important;
}

.sol {
  width: 405px;
  margin-left: 30px;
}

.link-btn {
  display: flex !important;
  height: 60px;
  padding: 15px 65px;
  color: white !important;
  font-size: 25px;
  font-family: Vag, serif;
  font-weight: 1000;
  font: bold;
  background-color: #dd8c33;
  justify-content: left !important;
}

.beyazalan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 30px;
  align-items: center;
  height: 120px;
}

.beyazalan p span {
  color: #06514d;
}

.orta {
  display: flex;
  justify-content: left !important;
  font-family: Vag !important;
  font-weight: 1000;
  color: white;
  font-size: 25px;
  margin: 25px;
  /* margin-bottom: 25px; */
  margin-top: -21px;
}
h3 {
  margin-top: 50px;
}

.orta h3:hover {
  color: #dd8c33 !important;
}

.orta a {
  display: flex;
  justify-content: left;
  margin: 6px;
}

.orta ul li a:hover {
  color: #dd8c33 !important;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
  padding: 15px;
}

.sag {
  justify-content: left !important;
  font-family: Vag !important;
  font-weight: 1000;
  color: white;
  font-size: 20px;
  margin-top: -13px !important;
  /* margin-bottom: 25px; */
}
.yakinda {
  color: #dd8c33;
  font-weight: bold;
  font-family: Vag !important;
  margin-top: 10px;
  text-align: center;
}

.sag .no {
  text-align: center;
  margin-top: 80px;
}
.sag h3 {
  margin-bottom: 30px;
  text-align: right;
}

.logo {
  margin: 5px;
}
